* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans;
}

input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.c-item {
  height: 100vh;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.hero-info {
  margin-left: 1rem;
}

@media (max-width: 991px) {
  .mobile-collapse-menu {
    position: absolute;
    top: 100%; /* Positions the div directly below the navbar */
    right: 0; /* Aligns the div to the right edge of the navbar */
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* Adds a semi-transparent black background */
    width: 250px; /* Adjust width as needed */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.search-bar {
  max-width: 500px;
}

.search-bar .form-control {
  /* border-right: none; */
  border-color: #fff;
  border-radius: 6px 0 0 6px;
}

.search-bar .form-control:focus {
  /* box-shadow: none; */
  border-color: #d10000;
  /* outline:#d20000   */
}

.search-bar .input-group-text {
  border-left: none;
  border-color: #fff;
  border-radius: 0 6px 6px 0;
}

/* Media query for smaller screens */
@media (max-width: 991.98px) {
  .search-bar {
    width: 100% !important;
    max-width: 100%;
  }

  /* Center the search bar on mobile within the collapsed menu */
  .navbar-collapse .d-flex {
    /* justify-content: center !important; */
  }
}

@media (max-width: 991.98px) {
  /* Custom styles for the mobile and tablet dropdown menu */
  .navbar-collapse {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Style the text inputs and icons within the dropdown */
  .navbar-collapse .input-group-text,
  .navbar-collapse .form-control {
    background-color: transparent !important;
    color: #000000 !important;
    border-color: #000000 !important;
  }

  /* Ensure the nav links are black */
  .navbar-collapse .nav-link {
    color: #000000 !important;
  }
}

.red {
  color: #8b0000; /* Dark red text color */
  border-color: #8b0000; /* Dark red border color */
}

.btn-outline-dark-red:hover {
  background-color: #8b0000; /* Dark red background on hover */
  color: #ffffff; /* White text on hover */
}

.color:hover {
  color: #fff; /* Changes the text color to white on hover */
  background-color: #a58990; /* Changes the background to a darker red */
  border-color: #be123c; /* Changes the border to match the new background */
}

.form-control::placeholder {
  font-size: 0.8rem; /* Adjust the size as needed */
}